#Netbeans, Eclipse and Idea  project artifacts
.metadata/
.settings/
.classpath
.project
.idea/
.errai/
.nb-gradle/
*.iml
*.ipr
*.iws



#Build folders
build/
bin/
out/
war/

#Gradle
.gradle/
.gradletasknamecache
