#Netbeans, Eclipse and Idea  project artifacts
.metadata/
.settings/
.classpath
.project
.idea/
.errai/
.nb-gradle/
*.iml
*.ipr
*.iws

# Compiled class file
*.class

# Log file
*.log


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Build folders
build/
bin/
out/
war/
database/

#Gradle
.gradle/
.gradletasknamecache

# Mac crap
.DS_Store